<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CnSharp.VSIX.Git.Dialogs.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CnSharp.VSIX.Git.Dialogs.Settings>
            <setting name="DeleteBranchesKeyword" serializeAs="String"><value /></setting>
            <setting name="ExportExtensions" serializeAs="String"><value /></setting>
            <setting name="ExportOutputDir" serializeAs="String"><value /></setting>
            <setting name="ExportAsZip" serializeAs="String"><value>True</value></setting>
        </CnSharp.VSIX.Git.Dialogs.Settings>
    </userSettings>
</configuration>
